body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 160px 1fr 130px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}


header {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    background: linear-gradient(#4171B1, #3791BE);
    color: white;
    padding: 15px;
}

nav a {
    display: inline-block;
    margin:  15px 40px;
    background: rgb(43, 88, 146);
    border-radius: 5px;
    padding: 15px 10px;
    border: none;
    font-size: 16px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 2px 2px darkblue;
    margin: 0;
    float: right;
}


h2 {
    font-size: 35px;
    text-shadow: 2px 2px 2px darkblue;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 40px;
}

main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(white, #C6E5FA);
}


main img {
    width: 110px;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}
main h3 {
    grid-column-start: 2;
}
main p {
    grid-column-start: 2;
}


aside {
    /* border: 8px solid #4171B1; */
    background-color: rgb(158, 200, 224);
    padding: 10px;
    /* margin: 20px 0px; */
}
aside img {
    width: 364px;
}

aside p {
    font-weight: bolder;
    line-height: 30px;
    text-align: center;
}

main section {
    margin-left: 55px;
}

section {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    height: 200px;
    width: 750px;
    border-radius: 10px;
    background-color: rgb(158, 200, 224);
    margin: 20px;
    color: white;
    border: 5px solid #4171B1;
    padding: 10px;
}

footer {
    display: inherit;
    grid-column-start: 1;
    grid-column-end: 3;
    background: linear-gradient(#4171B1, #3791BE);
    color: white;
    padding: 15px;
}

@media (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    aside {
        display: flex;
        flex-direction: column;
    }
    /* main section {
        margin-left: 0px;
    } */
    section {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 650px;
        border-radius: 10px;
        background-color: rgb(158, 200, 224);
        margin: 10px 0px;
        color: white;
        border: 5px solid #4171B1;
        padding: 10px;
    }
    #contacto {
        background-image: url("../imagenes/charlar_fondo-01.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    main img {
        display: none;
    }
    
}