body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 160px 1fr 130px;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    background: linear-gradient(#4171B1, #3791BE);
    color: white;
    padding: 15px;
}

button {
    margin:  15px 40px;
    background: rgb(43, 88, 146);
    border-radius: 5px;
    color: white;
    padding: 8px 5px;
    border: none;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    font-size: 45px;
    text-shadow: 2px 2px 2px darkblue;
    margin: 0;
    float: right;
}


h2 {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(white, #C6E5FA);
}

aside {
    border: 8px solid #4171B1;
    background-color: rgb(158, 200, 224);
}

section {
    height: 200px;
    width: 750px;
    border-radius: 10px;
    background-color: rgb(158, 200, 224);
    margin: 20px;
    color: white;
    border: 5px solid #4171B1;
}

footer {
    display: inherit;
    grid-column-start: 1;
    grid-column-end: 3;
    background: linear-gradient(#4171B1, #3791BE);
    color: white;
    padding: 15px;
}